<%- include("./partials/header") %>

<div class="container my-5">
    <form action="/add/todo" method="POST">
        <input type="text" name="todo" value="" class="form-control mt-3" placeholder="Enter Task">
        <input type="submit" value="Add Todo" class="mt-5 btn btn-md btn-success">
    </form>
</div>



<div class="container mt-5 ">
    <% todos.forEach(todo=>{ %>

        <li class="list-group-item d-flex justify-content-between align-items-center mb-3">
            <%= todo.todo %>
            <a href =" /delete/todo/<%= todo._id %>" class="btn btn-danger" role ="button">Delete</a>
          </li>
         
    
    <% })  %>
</div>








<%- include("./partials/footer") %>